# Single Page Application Credentials   
NEXT_PUBLIC_APP_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_AUTH0_DOMAIN=your-dev-domain.auth0.com
NEXT_PUBLIC_AUTH0_AUDIENCE=your-dev-audience

# SPA Application Credentials
NEXT_PUBLIC_AUTH0_SPA_CLIENT_ID=your-dev-spa-client-id

# M2M Application Credentials
NEXT_PUBLIC_AUTH0_M2M_CLIENT_ID=your-dev-m2m-client-id
NEXT_PUBLIC_AUTH0_M2M_CLIENT_SECRET=your-dev-m2m-client-secret

# S3 Bucket Credentials
NEXT_PUBLIC_S3_BUCKET_NAME=your-dev-s3-bucket-name

# AWS Credentials for next-video
AWS_ACCESS_KEY_ID=your-aws-access-key
AWS_SECRET_ACCESS_KEY=your-aws-secret-key
AWS_REGION=your-aws-region
AWS_BUCKET=your-s3-bucket-name

# Next Video Configuration
NEXT_VIDEO_PROVIDER=s3
NEXT_VIDEO_DEBUG=true
