# Environment
# Environment variable for Frontend is set in nodemon.json (frontend root)
# Create different env. files (e.g. .env.production)
# Git Email Name zu gleicher Email wie Vercel Mitglied

# URLs
NEXT_PUBLIC_APP_URL=your-app-localhost
NEXT_PUBLIC_API_URL=your-api-localhost

# Auth0 Single Page Application Credentials
NEXT_PUBLIC_AUTH0_DOMAIN=your-dev-domain.auth0.com
NEXT_PUBLIC_AUTH0_AUDIENCE=your-dev-audience

# SPA Application Credentials
NEXT_PUBLIC_AUTH0_SPA_CLIENT_ID=your-dev-spa-client-id

# M2M Application Credentials
AUTH0_M2M_CLIENT_ID=your-dev-m2m-client-id
AUTH0_M2M_CLIENT_SECRET=your-dev-m2m-client-secret

# S3 Bucket Credentials (is this needed?)
# NEXT_PUBLIC_S3_BUCKET_NAME=your-dev-s3-bucket-name

# Stripe Credentials (for client side)
STRIPE_PUBLISHABLE_KEY=pk_test_...

# EmailJS Credentials (Contact Form)
SMTP_HOST=your-dev-smtp-host
SMTP_PORT=your-dev-smtp-port
SMTP_SECURE=your-dev-smtp-secure
SMTP_USER=your-dev-smtp-user
SMTP_PASSWORD=your-dev-smtp-password
CONTACT_FROM_EMAIL=your-dev-contact-from-email
CONTACT_TO_EMAIL=your-dev-contact-to-email

# Encryption Key for encrypting api calls from the frontend to the backend (e.g. user data)
# Command to generate: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
# NEXT_PUBLIC_ENCRYPTION_KEY=your-secure-encryption-key-change-in-production

# Beehiiv Newsletter Integration
BEEHIIV_PUBLICATION_ID=your-publication-id
BEEHIIV_API_KEY=your-api-key
